<main id="main">
    <!-- ======= Filter Section start ======= -->
    <div id="page">
       <div class="container bootstrap snippets bootdey">
<div class="row">
<div class="profile-nav col-md-3">
 <app-profile-sidebar></app-profile-sidebar>
</div>
<div class="profile-info col-md-9">
 
 <div>
     <div class="row">
       <app-balance-section></app-balance-section>
         <div class="col-md-12">
     <app-bio-graph></app-bio-graph>
</div>
     </div>
 </div>
</div>
</div>
</div>
    </div>
    <!-- ======= Filter Section End ======= -->
    <!-- ======= Ad Carousel Section start ======= -->
 </main>