<div class="panel">
    <div class="bio-graph-heading">
        Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
    </div>
    <div class="panel-body bio-graph-info">
        <h2>Kids</h2>
            <div class="kids_main_heading">
              <div class="kids_heading"><h3>Age of Your Kids</h3></div>
              <p>Select Your Children's age so that we can suggest the best activities for them. Select as many ages as you need!</p>
            </div>
            <div class="kids_age_main col-md-6">
              <label>Select Age</label>
              <select>
                <option>All Ages</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
              </select>
            </div>
    </div>
     <div class="panel-body bio-graph-info">
            <div class="kids_main_heading">
              <div class="kids_heading"><h3>Add Your Kids</h3></div>
              <span class="addition_kids_text">A bit about your kids</span>
              <p>We need to know some information about your kids for better recommendations.</p>
            </div>
            <div class="kids_age_main col-md-6">
              <label>How many childrens do you have</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </div>
             <div class="full_row">
                <button class="btn update_btn btn_custom">Save</button>
            </div>
    </div>
</div>