<div class="events_rt_sidebar">
  <div class="events_rt_inner">
    <!-- share widget start -->
    <div class="share_widget">
      <div class="widget_heading widget_head_red">
        <h3>Share the Experience</h3>
      </div>
      <div class="media_share">
        <ul>
          <li><a href="#"><img src="assets/img/event-dt/fb_ic.png"></a></li>
          <li><a href="#"><img src="assets/img/event-dt/tw_ic.png"></a></li>
          <li><a href="#"><img src="assets/img/event-dt/dri_ic.png"></a></li>
          <li><a href="#"><img src="assets/img/event-dt/pin_ic.png"></a></li>
        </ul>
      </div>
    </div>
     <!-- share widget End -->
      <!-- Related Activity widget start -->
      <div class="related_act_widget">
        <div class="widget_heading widget_head_blue">
        <h3>Related Activity</h3>
      </div>
      <div class="related_events_list">
        <div class="rel_events">
          <img src="assets/img/event-dt/first_event_img.png">
          <div class="rel_details">
            <h4>Kids World Nursery @ Al Nahda</h4>
            <a href="javascript:void(0)">Sharjah, Al Nahda</a>
          </div>
        </div>
        <div class="rel_events">
          <img src="assets/img/event-dt/first_event_img.png">
          <div class="rel_details">
            <h4>Kids World Nursery @ Al Nahda</h4>
            <a href="javascript:void(0)">Sharjah, Al Nahda</a>
          </div>
        </div>
        <div class="rel_events">
          <img src="assets/img/event-dt/first_event_img.png">
          <div class="rel_details">
            <h4>Kids World Nursery @ Al Nahda</h4>
            <a href="javascript:void(0)">Sharjah, Al Nahda</a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>