<div class="panel">
    <div class="bio-graph-heading">
        Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
    </div>
    <div class="panel-body bio-graph-info">
        <h1>Bio Graph</h1>
        <div class="row">
            <div class="bio-row">
                <p><span>Name </span>: Preet Kumar</p>
            </div>
            <div class="bio-row">
                <p><span>Email Address </span>: Smith@gmail.com</p>
            </div>
            <div class="bio-row">
                <p><span>Phone Number </span>: +011 982 95842</p>
            </div>
            <div class="bio-row">
                <p><span>Main Interest</span>: Outing</p>
            </div>
            <div class="bio-row">
                <p><span>Your City </span>: Indore</p>
            </div>
            <div class="bio-row">
                <p><span>Your Location </span>: India</p>
            </div>
            <div class="bio-row">
                <p><span>Coupon Code </span>: 4567890</p>
            </div>
            <div class="bio-row">
                <p><span>Your Nationality </span>: Indian</p>
            </div>
            <div class="bio-row">
                <p><span>Version </span>: Newest</p>
            </div>
             <div class="full_row">
                
            </div>
        </div>
    </div>
</div>