 <!-- ======= Footer Copyright======= -->
 <section id="copyright">
    <div class="divider-footer">
      <div class="inner-divider">
        <div class="first-line"></div>
        <div class="second-line"></div>
      </div>
    </div>
    <div class="copyright-section">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text"><p>2021 Copyright Quidz All rights reserved</p></div>
          </div>
        </div>
      </div>
      </div>
  </section>
  <!-- ======= Footer Copyright======= -->

  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
     $(function () {
        $('#datetimepicker2').datetimepicker();
    });
 </script>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
