 <!-- ======= create family  Section Start ======= -->
 <section id="family_section_main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="family_carousel_main">
            <img src="assets/img/mobile_screen.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="family_content">
          <h1 class="main-heading-wh">Create family memories</h1>
          <div class="family_sub_text">Find, plan and book the most kid-friendly activities about town.</div>
          <div class="family_cont_point">
            <h3>1. Download QiDZ & Register</h3>
            <p>It’s easy! Download QiDZ and quickly register to access the best deals, ideas and inspiration on kid’s activities, family activities and things to do in your city.</p>
            <h3>2. Be In The Know</h3>
            <p>QiDZ is updated daily with the latest DIY activities, games, online resources and more for kids! You'll also find family entertainment and outings. Get the the best deals, ideas and inspiration all in one place.</p>
            <h3>3. Create Memories</h3>
            <p>Give your family brilliant memories that they will cherish. Whether you're looking for ideas for days at home or inspiration for days out, there’s something for everyone. Download QiDZ now.</p>
            <div class="play_store_buttons d-flex">
              <a href="#"><img src="assets/img/apple_btn.png"></a>
              <a href="#"><img src="assets/img/android_btn.png"></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- ======= create family  Section End ======= -->
