<div class="event_third_detail">
    <div class="event_activity_part d-flex">
      <div class="event_activity">
        <h3>Caterpillar clup (6 weeks - 6 months)</h3>
        <div class="event_buy_tag">Buy this deal now!</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
      <div class="event_act_price">
        <div class="event_price"><span class="dis_price">AED 100</span><span class="main_price">AED 75</span></div>
      </div>
    </div>
    <div class="event_activity_part d-flex">
      <div class="event_activity">
        <h3>Caterpillar clup (6 weeks - 6 months)</h3>
        <div class="event_buy_tag">Buy this deal now!</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
      </div>
      <div class="event_act_price">
        <div class="event_price"><span class="dis_price">AED 100</span><span class="main_price">AED 75</span></div>
      </div>
    </div>
     <div class="read_more_content">
          <a class="read_more_link" data-toggle="collapse" href="#activity_rm" aria-expanded="false" aria-controls="activity_rm">
          Read More...
          </a>
          <div class="collapse" id="activity_rm">
             <div class="card card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets.</p>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
             </div>
          </div>
       </div>
  </div>