   <!-- ======= Filter Section start ======= -->
   <div id="page">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="events_details_main">
                <div class="events_details_inner">
                   <div class="events_slider">
                      <img src="assets/img/event-dt/event_img.jpg">
                   </div>
                   <div class="events_content">
                    <!-- event first heading section start -->
                    <app-event-content></app-event-content>
                    <!-- event first heading section End -->
                    <!-- event Ad banner section start -->
                    <div class="event_secondry_detail">
                      <div class="event_discount_part d-flex">
                        <div class="event_dis_img"><img src="assets/img/event-dt/dis_img.png"></div>
                        <div class="event_dis_content">
                          <h3>BUY NOW GET 25% OFF</h3>
                          <span class="dis_sub_text">Prior Booking is required subject to availability.</span>
                          <a href="tel:+971 52 772 9226">Call: +971 52 772 9226</a>
                        </div>
                      </div>
                    </div>
                    <!-- event Ad banner section End -->
                    <!-- event Activity  section start -->
                   <app-event-activity></app-event-activity>
                    <!-- event Activity  section end -->
                    <!-- event Activity Description section start -->
                   <app-event-description></app-event-description>
                    <!-- event Activity Description section End -->
                    <!-- event reviews  section Start -->
                    <app-event-review></app-event-review>
                    <!-- Event Reviews Section End -->
                    <div class="event_schedule_widget">
                      <div class="widget_third">
                         <h3>Review</h3>
                          <!-- schedule part start -->
                         <div class="schedule_section text-center d-flex">
                            <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/sc_cal_ic.png"><br><span>Add to favourite</span></a></div>
                            <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/view_cal_ic.png"><br><span>Add to Calendar</span></a></div>
                            <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/call_ic.png"><br><span>Add Review</span></a></div>
                            <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/web_ic.png"><br><span>Modify Activity</span></a></div>
                         </div>
                         <!-- schedule part end -->
                         <div class="event-map">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.17851002438!2d55.272187715448844!3d25.197201837882634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sin!4v1612172805734!5m2!1sen!2sin" width="100%" height="276" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                         </div>
                      </div>
                    </div>

                  </div>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <app-event-sidebar></app-event-sidebar>
          </div>
       </div>
    </div>
 </div>
 <!-- ======= Filter Section End ======= -->
