<div class="panel">
    <div class="bio-graph-heading">
        Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
    </div>
    <div class="panel-body bio-graph-info">
        <h1>How to Score Points</h1>
        <div class="score_details">
         <div class="score_heading">Point System</div>
          <p>In the QiDZ app you can score points by completing simple actions. These points will be added to your rank. Every 500 points you
          will rank up. Below you will find how to score points:</p>
        </div>
        <div class="row">
            <div class="score_data">
                <div class="sc_left">
                <p><b>Adding a Review</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Adding an Activity</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Editing an Activity</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Sharing with a Friend</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Make a Booking</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
        </div>
    </div>

    <div class="panel-body bio-graph-info">
        <div class="score_details">
         <div class="score_heading">Ranks</div>
          <p>There are 5 different ranks you can reach. Each rank gives its own badge. Below you will find the different ranks:</p>
        </div>
        <div class="row">
            <div class="score_data">
                <div class="sc_left">
                <p><b>Fun Master</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Fun Guru</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Fun Champion</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Fun Superstar</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
             <div class="score_data">
                <div class="sc_left">
                <p><b>Fun Explorer</b></p>
              </div>
              <div class="sc_right">
                <span>+50 Points</span>
              </div>
            </div>
        </div>
    </div>
</div>