
<div class="events_primary_detail">
    <div class="primary_inner d-flex">
       <div class="eve_pri_headings">
          <h3>All You Can Eat Breakfast @ Circle Café</h3>
          <span class="eve_location"><span style="color:#4bbfba;">Theme Parks</span>, Explore The City </span>
          <div class="eve_tags d-flex">
             <div class="eve_age tags"><1-1 yrs</div>
             <div class="eve_tag tags">Baby & Toddlers</div>
             <div class="eve_tag tags">Classes Workshop & Online</div>
             <div class="eve_tag tags">Deals</div>
             <div class="eve_tag deal tags">Deals</div>
          </div>
       </div>
       <div class="eve_booking_btn">
          <button type="button">Book Now!</button>
       </div>
    </div>
    <div class="events_period">Limited time only!</div>
    <!-- share part start -->
    <div class="share_section text-center d-flex">
       <div class="share_ui"><a href="javascript:void(0)">
           <img src="assets/img/event-dt/heart_ic.png"><br><span>Add to favourite</span></a></div>
       <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_calendar_ic.png"><br><span>Add to Calendar</span></a></div>
       <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_star_ic.png"><br><span>Add Review</span></a></div>
       <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_modify_ic.png"><br><span>Modify Activity</span></a></div>
       <div class="share_ui"><a href="javascript:void(0)"><img src="assets/img/event-dt/g_share_ic.png"><br><span>Share Activity</span></a></div>
    </div>
    <!-- share part end -->
    <!-- terms and condition start -->
    <div class="read_more_content">
       <a class="read_more_link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
       Read these deals terms and conditions
       </a>
       <div class="collapse" id="collapseExample">
          <div class="card card-body">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets.</p>
             <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
          </div>
       </div>
    </div>
     <!-- terms and condition start -->
</div>