
<!-- ======= Footer start ======= -->
<section id="footer">
  <div class="container">
   <div class="row">
     <div class="col-md-3">
       <div class="widget-heading">
         <h3>About Us</h3>
         <img src="assets/img/red_divider.png">
       </div>
       <div class="about">
         <p>QiDZ is here to make your life easier, help you plan and inspire you to have even more fun with your kids! Download QiDZ today and start planning amazing family activities in your city.</p>
       </div>
     </div>
     <div class="col-md-3">
      <div class="widget-heading">
        <h3>Recent Post</h3>
        <img src="assets/img/blue_divider.png">
      </div>
      <div class="recent-post">
        <div class="post-item">
          <img src="assets/img/search/first_event_img.png">
          <div class="post-content">
            <div class="post-heading">Kidzania Back to school 
              Offer</div>
            <span class="post-date">Dec-20-22</span>
          </div>
        </div>
        <div class="post-item">
          <img src="assets/img/search/first_event_img.png">
          <div class="post-content">
            <div class="post-heading">Lorem ipsum dollar sit
              ammet</div>
            <span class="post-date">Dec-20-22</span>
          </div>
        </div>
        <div class="post-item">
          <img src="assets/img/search/first_event_img.png">
          <div class="post-content">
            <div class="post-heading">Kidzania Back to school 
              Offer</div>
            <span class="post-date">Dec-20-22</span>
          </div>
        </div>
      </div>
     </div>
     <div class="col-md-3">
      <div class="widget-heading">
        <h3>Kids Activities</h3>
        <img src="assets/img/red_divider.png">
      </div>
      <div class="activity">
        <ul>
          <li>Kids Collection</li>
          <li>Outdoors</li>
          <li>Indoors</li>
          <li>Popular Activities</li>
        </ul>
      </div>
     </div>
     <div class="col-md-3">
      <div class="widget-heading">
        <h3>Contact</h3>
        <img src="assets/img/blue_divider.png">
      </div>
      <div class="contact">
        <ul>
          <li>121 King St, VIC 3000, 
            Dubai</li>
          <li>(000) 233-3236</li>
          <li><a href="">qidz@somemail.com</a></li>
        </ul>
      </div>
     </div>
   </div>
  </div>
</section>

  <!-- ======= Footer End======= -->