<div class="row">
    <div class="bio-row">
      <label>Name</label>
       <input type="text" class="form-control" placeholder="Name" value="Preet Kumar">
    </div>
    <div class="bio-row">
      <label>Email Address</label>
        <input type="text" class="form-control" placeholder="Email Address" value="John">
    </div>
    <div class="bio-row">
      <label>Phone Number</label>
       <input type="Number" class="form-control" placeholder="Phone Number" value="+91 2546 2568">
    </div>
    <div class="bio-row">
      <label>Main Interest</label>
        <input type="text" class="form-control" placeholder="Main Interest" value="Outing">
    </div>
    <div class="bio-row">
      <label>Your City</label>
        <input type="text" class="form-control" placeholder="Your City" value="Indore">
    </div>
    <div class="bio-row">
      <label>Your Location</label>
        <input type="text" class="form-control" placeholder="Your Location" value="India">
    </div>
    <div class="bio-row">
      <label>Coupon Code</label>
        <input type="text" class="form-control" placeholder="Coupon Code" value="4567890">
    </div>
    <div class="bio-row">
      <label>Your Nationality</label>
        <input type="text" class="form-control" placeholder="Your Nationality" value="Indian">
    </div>
    <div class="bio-row">
      <label>Version</label>
        <input type="text" class="form-control" placeholder="Version" value="Newest">
    </div>
     <div class="full_row">
        <button class="btn update_btn btn_custom">Update</button>
    </div>
</div>