<div class="row">
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <div class="bio-chart">
                <div class="widget_icn">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
                <div class="widget_info">
                  <p>Balance</p>
                <h4 class="red">AED 20</h4>
            </div>
            </div>
            <div class="bio-desk">
               <a href="#">My Wallet<i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <div class="bio-chart fun_star">
                <div class="widget_icn">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
                <div class="widget_info">
                <p>Next Rank</p>
                <h4 class="red">Fun Superstar</h4>
            </div>
            </div>
            <div class="bio-desk red_cl">
               <a href="#">Progress<i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
            </div>
        </div>
    </div>
</div>
</div>