<div class="container" style="margin-top: 150px; margin-bottom: 50px;">
    <form class="border border-dark" [formGroup] ="register" (ngSubmit)="submit()">
        <div class="row g 0">
            <div class="col text-center p-2 mb-3">
                <span class="fs-3">Register</span>
            </div>
        </div>
        <div class="row">
            <div class="col pl-4">
                <label for="fname" class="form-label">First Name</label>
                <input type=" text" class="form-control" id="fname"formControlName="fname" name="fname"/>
                <small *ngIf="isSubmit && val['fname'].errors" class="text-danger">First name Required</small>
            </div>
            <div class="col pr-4">
                <label for="lname" class="form-label">Last Name</label>
                <input type=" text" class="form-control" id="lname" name="lname" formControlName="lname"  >
                <small *ngIf="isSubmit && val['lname'].errors" class="text-danger">Last Name Required</small>
            </div>
        </div>
        <div class="row">
            <div class="col pl-4 pr-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" name="email">
                <small *ngIf="isSubmit && val['email'].errors" class="text-danger">Email required</small>
            </div>

            <div class="row">
                <div class="col pl-4 pr-4 pb-4">
                    <label for="phonenumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="number" formControlName="phonenumber" name="phonenumber" >
                    <small *ngIf="isSubmit && val['phonenumber'].errors" class="text-danger">Phone Number Required</small>
                    <small *ngIf="isSubmit && val['phonenumber'].getError('minLength')!=null" class="text-danger">Phone Number atleast 5 digit</small>
            
                </div>
                <div class="col ps-3">
                    <div class="m-1">Gender</div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" value="m" id="male" name="gender" formControlName="gender" >
                        <label class="form-check-label" for="male">male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" value="f" id="female" name="gender" formControlName="gender" >
                        <label class="form-check-label" for="female">female</label>
                    </div>
                    <div class="form-text"></div>
                    <small *ngIf="isSubmit && val['gender'].errors" class="text-danger">Please select Gender</small>
                </div>
            </div>
            <div class="row">
                <div class="col ml-3 mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="text" class="form-control" id="pwd" name="pwd"(keyup)="Mustmatch()" formControlName="pwd">
                    <div class="form-text"></div>
                    <small *ngIf="isSubmit && val['pwd'].errors && val['pwd'].errors['required']" class="text-danger">Password required</small>
                    <small *ngIf="val['pwd'].invalid && val['pwd'].errors && val['pwd'].errors['pattern']" class="text-danger">Please enter valid password 
                        password should be one special character,a-z A-Z, at least one number and 8 characters long
                    </small>
                 
                </div>
                <div class="col mb-3">
                    <label for="rpwd" class="form-label">Confirm Password</label>
                    <input type="text" class="form-control" id="rpwd" name="rpwd" (keyup)="Mustmatch()" formControlName="rpwd" >
                    <div class="form-text"></div>
                    <small *ngIf="isSubmit && val['rpwd'].errors" class="text-danger">Confirm Password required</small>
                    <!-- <small *ngIf="isSubmit && val['rpwd'].errors.Mustmatch" class="text-danger">password mismatched</small> -->
                    <small *ngIf="notMatch" class="text-danger">password mismatched</small>
                    <!-- f.confirmPassword.errors.mustMatch -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3 mb-3">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>