

    <!-- ======= Ad Carousel Section start ======= -->
    <section id="advertisement" class="advertisement">
      <div class="container">

        <div class="row">
         <div class="col-md-12">
          <div class="ad_banner">
            <div class="ad_banner_inner">
<!-- 
               <div class="ad-banner owl-carousel">
                  
                  <div class="ad_image"><a href="#"><img src="../../../assets/img/banner-ad/banner_01.jpg" alt="ad_01"></a></div>
                  <div class="ad_image"><a href="#"><img src="../../../assets/img/banner-ad/banner_02.jpg" alt="ad_02"></a></div>
                  <div class="ad_image"><a href="#"><img src="../../../assets/img/banner-ad/banner_03.jpg" alt="ad_03"></a></div>
               </div>
                  -->
                  <owl-carousel-o [options]="bannerSlider">
    
                    <ng-template carouselSlide >
                      <img src="../../../assets/img/banner-ad/banner_01.jpg" alt="ad_01" routerLink = "/event_details">
                    <a routerLink="/event_details">Event</a>
                    </ng-template>  
                    <ng-template carouselSlide> <img src="../../../assets/img/banner-ad/banner_01.jpg" alt="ad_01"></ng-template>  
                    <ng-template carouselSlide> <img src="../../../assets/img/banner-ad/banner_02.jpg" alt="ad_01"></ng-template>  
                    <ng-template carouselSlide> <img src="../../../assets/img/banner-ad/banner_03.jpg" alt="ad_01"></ng-template>  
                   
                  </owl-carousel-o>
            </div>
          </div>
         </div>
        </div>

      </div>
    </section>
  
    <!-- ======= Ad Carousel Section End ======= -->
