

<section id="first_event_cat" class="first_event_cat">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="first_events_section">
          <div class="first_event_section_inner">
            <div class="events_main_heading">
              <h1>Most Loved By Parents</h1>
              <a href="#">See All</a>
            </div>
            <owl-carousel-o [options]="bannerSlider">
              <!-- <div class="first_event_carousel"> -->
               <ng-template carouselSlide *ngFor = "let val of slider3" >
                 <div class="event_box">
                   <div class="events_des_image">
                   <img src={{val.img}} alt="ad_01">
                   <div class="event_code">{{val.code}}</div>
                   </div>
                   <div class="event_description">
                     <h3>{{val.name}}</h3>
                     <div class="event_btm_des">
                       <div class="left_section">
                         <span class="small_text">{{val.text}}</span>
                         <button type="button" class="btn bn_btn">Book Now!</button>
                       </div>
                       <div class="right_section">
                         <div class="review">
                           <ul>
                             <li><i class="fas fa-star"></i></li>
                             <li><i class="fas fa-star"></i></li>
                             <li><i class="fas fa-star"></i></li>
                             <li><i class="fas fa-star"></i></li>
                             <li><i class="fas fa-star"></i></li>
                           </ul>
                         </div>
                         <button type="button" class="btn rm_btn">Read More</button>
                       </div>
                     </div>
                   </div>
               </div>
               </ng-template>
               <!-- <ng-template carouselSlide> -->
                
               <!-- second box -->
               <!-- <div class="event_box">
                <div class="events_des_image">
                <img src="assets/img/banner-ad/image_02.jpg" alt="ad_02">
                <div class="event_code">AED 65</div>
                </div>
                <div class="event_description">
                  <h3>Kidzania Back to school offer In Dubai</h3>
                  <div class="event_btm_des">
                    <div class="left_section">
                      <span class="small_text">The Dubai Mall</span>
                      <button type="button" class="btn bn_btn">Book Now!</button>
                    </div>
                    <div class="right_section">
                      <div class="review">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </div>
                      <button type="button" class="btn rm_btn">Read More</button>
                    </div>
                  </div>
                </div>
            </div>
              </ng-template> -->
               <!-- third box -->
              <!-- <ng-template carouselSlide>
               
                <div class="event_box">
                  <div class="events_des_image">
                  <img src="assets/img/banner-ad/image_03.jpg" alt="ad_03">
                  <div class="event_code">AED 65</div>
                  </div>
                  <div class="event_description">
                    <h3>Pumpkin cooking party with children</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">The Dubai Mall</span>
                        <button type="button" class="btn bn_btn">Book Now!</button>
                      </div>
                      <div class="right_section">
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn rm_btn">Read More</button>
                      </div>
                    </div>
                  </div>
              </div>
               </ng-template> -->
             

               <!-- fourth box -->
              <!-- <ng-template carouselSlide>
              
              <div class="event_box">
                <div class="events_des_image">
                <img src="assets/img/banner-ad/image_04.jpg" alt="ad_04">
                <div class="event_code">AED 65</div>
                </div>
                <div class="event_description">
                  <h3>Dubai events in july: DSS D3 Restaurant</h3>
                  <div class="event_btm_des">
                    <div class="left_section">
                      <span class="small_text">The Dubai Mall</span>
                      <button type="button" class="btn bn_btn">Book Now!</button>
                    </div>
                    <div class="right_section">
                      <div class="review">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </div>
                      <button type="button" class="btn rm_btn">Read More</button>
                    </div>
                  </div>
                </div>
            </div>
               </ng-template>
              -->

             <!-- </div> -->
             </owl-carousel-o>
          </div>
        </div>
       </div>
      </div>
    </div>
  </section>


