<p>slider2 works!</p>

    <!-- ======= Event category Carousel Section start ======= -->
    <section id="event_category" class="event_category">
        <div class="container">
          <div class="row">
           <div class="col-md-12">
            <div class="event_cat_section">
              <div class="event_cat_section_inner">
                 <div class="events_main_heading">
                  <h1>Get Inspiration For Your Next Outing</h1>
                  <a href="#">See All</a>
                </div>
                 <div class="event_cat_carousel owl-carousel">
                    <div class="event_image"><a href="#"><img src="../../../assets/img/banner-ad/event_cat_01.jpg" alt="ad_01">
             
                        <div class="event_heading yellow_bg">BEST DEALS IN TOWN</div>
                    </a>
                  </div>
                    <div class="event_image">
                      <a href="#"><img src="../../../assets/img/banner-ad/event_cat_02.png" alt="ad_02">
                        <div class="event_heading Purple_bg">EDITOR'S PICKS</div>
                    </a>
                  </div>
                    <div class="event_image"><a href="#"><img src="../../../assets/img/banner-ad/event_cat_03.png" alt="ad_03">
                      <div class="event_heading blue_bg">TRY SOMETHING NEW IN 2021</div>
                    </a>
                  </div>
                   <div class="event_image"><a href="#"><img src="../../../assets/img/banner-ad/event_cat_04.png" alt="ad_03">
                      <div class="event_heading red_bg">FREE FUN THIS MONTH</div>
                    </a>
                  </div>
                 </div>
              </div>
            </div>
           </div>
          </div>
        </div>
      </section>
  
      <!-- ======= Event category Carousel Section End ======= -->
  