
<header>
    <div class="top-header">
      <div class="th-inner">
        <div class="th-left"><p>Download QiDZ mobile app now <a href=""><Strong>Click Here</Strong></a></p></div>
        <div class="th-right">
          <div class="th-right-link">
            <a href="#" routerLink="/login">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" routerLink = "/register">Registration</a>
          </div>
          <div class="th-right-dropdown">
            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               City
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">India</a>
                <a class="dropdown-item" href="#">US</a>
                <a class="dropdown-item" href="#">Australia</a>
              </div>
            </div>
          </div>
          <div class="th-right-dropdown last-field">
            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               English
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">India</a>
                <a class="dropdown-item" href="#">US</a>
                <a class="dropdown-item" href="#">Australia</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
</header>