   <!-- ======= Filter Section start ======= -->
   <section id="filter-section">
    <div class="container">
      <div class="catergory-section">
            <div class="category-data">
            <div class="category-carousel owl-carousel">
               <div class="category-link cat_01"><a href="#">Travel</a></div>
                <div class="category-link cat_02"><a href="#">Dining</a></div>
                  <div class="category-link cat_03"><a href="#">Entertainment</a></div>
                    <div class="category-link cat_04"><a href="#">Education</a></div>
                      <div class="category-link cat_05"><a href="#">Beauty & Style</a></div>
                        <div class="category-link cat_06"><a href="#">More</a></div>
                </div>
            </div>
      </div>
      <div id="home-filter">
        <div class="hf_outer">
          <div class="hf_inner">
            <h1>Find the best around town</h1>
            <form class="hf_form" method="post">
               <div class="row">
                <div class="col-md-12 serah_form_field">
                  <input type="text" class="form-control search_field" id="formGroupExampleInput" placeholder="Search for activities...">
                  <button type="button" class="search_btn">Search</button>
                </div>
                </div>
                <div class="row hf_bottom_filter">
                  <div class="col-md-3">
                    <div class="form-group">
                     <select class="form-control">
                        <option selected="">When</option>
                         <option>Today</option>
                          <option>Tomorrow</option>
                           <option>This Weekend</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group row">
                    <div class='input-group date col-md-6' id='datetimepicker1'>
                       <input type='date' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                     <div class='input-group date col-md-6' id='datetimepicker2'>
                       <input type='date' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
               </div>
                  <div class="col-md-3">
                    <div class="form-group">
                     <select class="form-control">
                        <option selected="">Age</option>
                         <option>2-4</option>
                          <option>5-8</option>
                           <option>8-10</option>
                           <option>10-15</option>
                           <option>15-20</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                     <select class="form-control">
                        <option selected="">Select City</option>
                         <option>Dubai</option>
                          <option>Abu Dhabi</option>
                           <option>Eastern Province</option>
                            <option>Riyadh</option>
                              <option>Jaddah</option>
                               <option>Manama</option>
                               <option>Cairo</option>
                      </select>
                    </div>
                  </div>
                </div>
                 
              
            </form>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- ======= Filter Section End ======= -->