
<!-- ======= Second Events Carousel Section start ======= -->
<section id="browse_category" class="browse_category">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="browse_cat_section">
          <div class="browse_cat_section_inner">
            <div class="browse_main_heading center_heading text-center">
              <h1>Browse By Category</h1>
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy</p>
            </div>
            <owl-carousel-o [options]="bannerSlider" >
             <!-- <div class="browse_cat_carousel "> -->
                <ng-template carouselSlide *ngFor="let val of sliderVal">
                <div class="event_box browse_desc_box">
                  <div class="events_des_image">
                  <img src={{val.img}} alt="ad_01">
                  </div>
                  <div class="event_description browse_desc">
                    <h3>{{val.name}}</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">{{val.text}}</span>
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn browse_rm_btn">Read More</button>
                      </div>
                    </div>
                  </div>
              </div>
              </ng-template>
               <!-- second box -->
               <!-- <ng-template carouselSlide>
              <div class="event_box browse_desc_box">
                  <div class="events_des_image">
                  <img src="assets/img/banner-ad/bc_img_02.jpg" alt="ad_02">
                  </div>
                  <div class="event_description browse_desc">
                    <h3>What we learn from cooking together with children</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">The Dubai Mall</span>
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn browse_rm_btn">Read More</button>
                      </div>
                    </div>
                  </div>
              </div>
              </ng-template> -->
              <!-- third box -->
              <!-- <ng-template carouselSlide>
               <div class="event_box browse_desc_box">
                  <div class="events_des_image">
                      
                  <img src="assets/img/banner-ad/bc_img_03.jpg" alt="ad_03">
                  </div>
                  <div class="event_description browse_desc">
                    <h3>What we learn from cooking together with children</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">The Dubai Mall</span>
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn browse_rm_btn">Read More</button>
                      </div>
                    </div>
                  </div>
              </div>
              </ng-template> -->
              <!-- fourth box -->
              <!-- <ng-template carouselSlide>
               <div class="event_box browse_desc_box">
                  <div class="events_des_image">
                  <img src="assets/img/banner-ad/bc_img_01.jpg" alt="ad_04">
                  </div>
                  <div class="event_description browse_desc">
                    <h3>What we learn from cooking together with children</h3>
                    <div class="event_btm_des">
                      <div class="left_section">
                        <span class="small_text">The Dubai Mall</span>
                        <div class="review">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div>
                        <button type="button" class="btn browse_rm_btn">Read More</button>
                      </div>
                    </div>
                  </div>
              </div>
              </ng-template> -->
             </owl-carousel-o>
          <!-- </div> -->
            <div class="reveiw_btn text-center"><button type="button">
                 <div class="review btn_inner">
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                        </div> Share with the community your review on an activity
              </button>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </section>

  <!-- ======= Second Events Carousel Section End ======= -->