<main id="main">
    <!-- ======= Filter Section start ======= -->
    <div id="page">
       <div class="container">
          <div class="row" id="event_listing_main">
             <div class="col-md-3">
               <app-left-sidebar></app-left-sidebar>
             </div>
             <div class="col-md-9">
                <div class="event-list-area">
                   <div class="event-list-inner">
                      <div class="widget_heading widget_head_blue">
                         <h3>Search Results</h3>
                      </div>
                   <div class="event-list-category">
                     <div class="events_main_heading"><h2> Party &amp; Playdate Ideas &amp; Supplies</h2></div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     </div>
                   </div>
                    <div class="event-list-category">
                     <div class="events_main_heading"><h2> Kids at Home? DIY Free Fun Ideas</h2></div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                         <div class="col-md-4">
                           <div class="event-list-item">
                              <div class="event-img">
                                 <img src="assets/img/listing/img_01.jpg">
                              </div>
                              <div class="event-list-detail">
                                 <h3>Party Packages by Heartmade Events</h3>
                                 <div class="event_btm_des">
                                  <div class="event_list_cat_section">
                                     <span class="small_text">Kidzania</span>
                                     <div class="review">
                                      <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="event_list_price">
                                     <span class="dis_price">AED 100</span>
                                     <span class="main_price">AED 75</span>
                                  </div>
                                  <div class="event_list_btn">
                                    <button type="button" class="btn bn_btn">Book Now!</button>
                                     <button type="button" class="btn rm_btn">Read More</button>
                                  </div>
                               </div>
                              </div>
                           </div>
                        </div>
                        <div class="show_more_btn">
                           <button type="button" class="see_more_btn">See More</button>
                         </div>
                     </div>
                     </div>
                   </div>
                </div>
             </div>
             
          </div>
       </div>
    
    <!-- ======= Filter Section End ======= -->
    <!-- ======= Ad Carousel Section start ======= -->
 </main>