<div class="event_review_widget">
    <div class="widget_second">
      <h3>Review</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
    </div>
    <div class="user_review_sec">
      <!-- User reviews  section Start -->
      <div class="user_reviews d-flex">
        <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
        <div class="user_comment">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <span class="user_name">Shahin Khan</span>
          <div class="review">
            <ul>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="read_more_content">
          <a class="read_more_link" data-toggle="collapse" href="#activity_rm" aria-expanded="false" aria-controls="activity_rm">
          Read More...
          </a>
          <div class="collapse" id="activity_rm">
             <div class="card card-body review_body">
               <!-- User reviews  section Start -->
                <div class="user_reviews d-flex">
                <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
                <div class="user_comment">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  <span class="user_name">Zoya Habib</span>
                  <div class="review">
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
               <!-- User reviews  section End -->
                <!-- User reviews  section Start -->
               <div class="user_reviews d-flex">
                <div class="user_avtar"><img src="assets/img/event-dt/review_thumb.png"></div>
                <div class="user_comment">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  <span class="user_name">Twinkle Masoor</span>
                  <div class="review">
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
               <!-- User reviews  section End -->
             </div>
          </div>
       </div>
       <!-- User reviews  section End -->
    </div>
  <div class="reveiw_form_section">
    <div class="review_inputs d-flex">
      <label>Your Review:</label>
       <div class="review">
            <ul>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
    </div>
     <div class="review_inputs d-flex">
      <label>Your Photos:</label>
      <input type="File" placeholder="Upload Now" name="">
    </div>
     <div class="review_inputs d-flex">
      <label>Your Message:</label>
      <textarea placeholder="Tyep your message here..."></textarea>
    </div>
    <div class="review_inputs d-flex">
      <label></label>
      <button type="submit">Post Review</button>
    </div>
  </div>
  </div>