<div id="page">
    <div class="container bootstrap snippets bootdey">
<div class="row">
<div class="profile-nav col-md-3">
 <app-profile-sidebar></app-profile-sidebar>
</div>
<div class="profile-info col-md-9">

<div>
  <div class="row">
   <app-balance-section></app-balance-section>
      <div class="col-md-12">
    <div class="panel">
  <div class="bio-graph-heading">
      Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
  </div>
  <div class="panel-body bio-graph-info">
      <h1>Edit Profile</h1>
  <app-edit-bio-profile></app-edit-bio-profile>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
</div>
 </div>
